h1 {
    font-size: 2.25rem !important;
}
h2 {
    font-size: 2rem !important;
}
h3 {
    font-size: 1.5rem !important;
}
h4 {
    font-size: 1.25rem !important;
}
h5 {
    font-size: 1rem !important;
}
.custom-breadcrumbs * {
    margin-right: .25rem
}
.nav-item.active > *,
.dropdown-item.active
{
    color: #28a745 !important;
}
